
hostname {{ item.hostname }}
vlan 1
no ipv6 enable
no ipv6 address dhcp full
exit
{% if item.ip_routing is defined and item.ip_routing == 'yes' %}
ip route 0.0.0.0/0 10.211.211.1
ip routing
{% else %}
{% endif %}
{% if item.ip_ospf_area is defined and item.ip_ospf_area | length > 0 %}
vlan 100
ip add 1.1.1.1/24
exit
router ospf
area {{ item.ip_ospf_area }}
enable
no vlan 100
exit
{% else %}
{% endif %}
{% if item.l2_vlans is defined and item.l2_vlans == "yes" %}
{% for item in csvfile.split("\n") %}
{% if loop.index != 1 %}
{% set list = item.split("$") %}
vlan {{ list[1]|trim() }}
  name {{ list[0]|trim() }}
{% endif %}
{% endfor %}
{% endif %}
{% if item.l3_vlans is defined and item.l3_vlans == "yes" %}
{% for item in csvfile.split("\n") %}
{% if loop.index != 1 %}
{% set list = item.split("$") %}
vlan {{ list[1]|trim() }}
name "{{ list[0]|trim() }}"
{% if list[2] != "N/A" %}
ip address {{ list[2]|trim() }}
{% endif %}
{% if list[3] != "N/A" %}
{% set list_helper = list[3].split(",") %}
{% for each_list_helper in list_helper %}
ip helper-address {{ each_list_helper|trim() }}
{% endfor %}
{% else %}
{% endif %}
{% if list[4] == "yes" %}
ip igmp
{% else %}
{% endif %}
ip ospf area {{ list[5]|trim() }}
{% endif %}
{% endfor %}
{% endif %}
exit
{% if item.spanning_tree_bpdu_filter is defined and item.spanning_tree_bpdu_filter | length > 0 %}
spanning-tree {{ item.spanning_tree_bpdu_filter }} bpdu-filter
{% else %}
{% endif %}
{% if item.spanning_tree_mode is defined and item.spanning_tree_mode == "rapid" %}
spanning-tree mode rapid-pvst
y
{% elif item.spanning_tree_mode is defined and item.spanning_tree_mode == "mst" %}
spanning-tree
spanning-tree mode mst
{% elif item.spanning_tree_mode is defined and item.spanning_tree_mode == "pvst" %}
spanning-tree
spanning-tree mode pvst
{% else %}
{% endif %}
{% if item.spanning_tree_vlan is defined and item.spanning_tree_vlan_priority is defined and item.spanning_tree_vlan | length > 0 and item.spanning_tree_vlan_priority | length > 0 %}
spanning-tree vlan {{ item.spanning_tree_vlan }} priority {{ item.spanning_tree_vlan_priority }}
{% else %}
{% endif %}
{% if item.spanning_tree_bpdu_protection_port is defined and item.spanning_tree_bpdu_protection_port | length > 0 %}
spanning-tree {{ item.spanning_tree_bpdu_protection_port }} bpdu-protection
{% else %}
{% endif %}
{% if item.spanning_tree_bpdu_protection_timeout is defined and item.spanning_tree_bpdu_protection_timeout | length > 0 %}
spanning-tree bpdu-protection-timeout {{ item.spanning_tree_bpdu_protection_timeout }}
{% else %}
{% endif %}
{% if item.spanning_tree_loop_protect_port is defined and item.spanning_tree_loop_protect_port | length > 0 %}
loop-protect {{ item.spanning_tree_loop_protect_port }}
{% else %}
{% endif %}
{% if item.spanning_tree_loop_protect_disable_timer is defined and item.spanning_tree_loop_protect_disable_timer | length > 0 %}
loop-protect disable-timer {{ item.spanning_tree_loop_protect_disable_timer }}
{% else %}
{% endif %}
{% if item.snmp_community_operator is defined and item.snmp_community_operator | length > 0  %}
snmp-server community {{ item.snmp_community_operator }} operator
{% endif %}
{% if item.snmp_community_unrestricted is defined and item.snmp_community_unrestricted | length > 0  %}
snmp-server community {{ item.snmp_community_unrestricted }} unrestricted
{% else %}
{% endif %}
{% if item.snmp_contact is defined and item.snmp_contact | length > 0 %}
snmp-server contact "{{ item.snmp_contact }}"
{% else %}
{% endif %}
{% if item.snmp_location is defined and item.snmp_location | length > 0 %}
snmp-server location "{{ item.snmp_location }}"
{% else %}
{% endif %}
{% if item.ntp_server is defined %}
timesync ntp
ntp unicast
ntp enable
{% set ntp_server = item.ntp_server.split(',') %}
{% for each_ntp_server in ntp_server %}
ntp server {{ each_ntp_server }}
{% endfor %}
{% else %}
{% endif %}
{% if item.timezone is defined and item.timezone | length > 0 %}
time daylight-time-rule continental-us-and-canada
time timezone {{ item.timezone }}
{% else %}
{% endif %}
{% if item.dns_suffix is defined and item.dns_suffix | length > 0 %}
ip dns domain-name {{ item.dns_suffix}}
{% else %}
{% endif %}
{% if item.ssh_key_bitsize is defined and item.ssh_key_bitsize | length > 0 %}
crypto key generate ssh rsa bits {{ item.ssh_key_bitsize}}
ip ssh
{% else %}
{% endif %}
{% if item.ip_ssh is defined and item.ip_ssh == 'yes' %}
ip ssh
{% elif item.ip_ssh is defined and item.ip_ssh == 'no' %}
no ip ssh
{% endif %}
{% if item.web_management_ssl is defined and item.web_management_ssl == 'yes' %}
crypto pki enroll-self-signed certificate-name SSL subject
Common Name
Org Unit
Org Name
Locality
State
US
web-management ssl
{% else %}
{% endif %}
{% if item.http_server is defined and item.http_server == 'no' %}
no web-management
{% else %}
{% endif %}
{% if item.mgmt_vlan is defined and item.mgmt_ip is defined and item.mgmt_vlan | length > 0 and item.mgmt_ip | length > 0 %}
vlan {{ item.mgmt_vlan }}
name Switch-Mgmt
ip address {{ item.mgmt_ip }}
{% else %}
{% endif %}
{% if item.oobm_mgmt_ip is defined and item.oobm_mgmt_ip | length > 0 %}
oobm
ip address {{ item.oobm_mgmt_ip }}
{% else %}
{% endif %}
