{% for item in csvfile.split("\n") %}
{%   if loop.index != 1 %}
{%     set list = item.split(",") %}
vlan {{ list[1]|trim() }}
name {{ list[0]|trim() }}
ip address {{ list[2]|trim() }}
ip helper-address {{ list[3]|trim() }}
voice
{{ list[5]|trim() }}    
{%   endif %}
{% endfor %}
